#root {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.MainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-top: 1em;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ================= NAVBAR =================*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
  width: 100%;
  margin-left: 0 auto;
  box-sizing: border-box;
}

.navbar, .dropdown-menu {
  background-color: #a1a1a1;
  color: white;
}

.navbar-title {
  color: white;
  font-size: 24px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.navbar a, .dropdown-menu a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;

}

.dropdown-menu a {
  display: block;
}

.navbar a:hover, .dropdown-menu a:hover {
  background-color: #a3a3a3;
  color: rgb(255, 204, 204);
}

/* =====Navbar Dropdown Menu===== */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 125%;
  left: 0;
  min-width: 100px;
  z-index: 1;
}

#login-dropdown {
  width: 300px;
  left: -200%;
}

.login-container button {
  margin-top: 2%;
}

input {
  border-radius: 3px;
  border: 1px solid #a3a3a3;
  margin-left: 5px;
  padding: 3px;
}

textarea {
  border-radius: 3px;
  border: 1px solid #a3a3a3;
  margin-left: 5px;
  padding: 3px;
}

.dropdown:hover .dropdown-menu {
  display: block; /* Show the dropdown menu only when the parent menu item is hovered over */
}

/* Hide dropdown menu by default */
.navbar ul ul {
  display: none;
}

/* Display dropdown menu only when its parent is hovered over */
.navbar ul li:hover > ul {
  display: inherit;
}

/* ===================================NOTES/NOTES FORMS======================================================= */

.a-note, .formAdmin{
  border: solid 1px #a1a1a1;
  border-radius: 10px;
  margin: 1em;
  padding-bottom: 20px;
}

.a-note:hover{
  background-color: antiquewhite;
  color:  peru;
  cursor: pointer;
}


/* ===================================SIGN UP PAGE======================================================= */

.signup-container{
  min-width: 30%;
  max-width: 60%;
  margin: 0 auto;
}


.signup-container form{
  display: block;
  padding: 1%;
  padding-top: 5%;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
}

.signup-container input{
  min-width: 50%;
}